{#
 # Filter for parameters that accepts
 # boolean and string values
 #
 # @param value : the value of the parameter
 # @return string
 #}
{%- macro configurationItem(key, value) -%}
{%-   if value is string -%}
{% if key %}{{ key }}{% endif %} {{ value }}
{%-   elif value is sequence -%}
{% if key is not none %}{{ key }}{% endif %} {
{%      for sub_value in value %}
  {{      configurationItem(none, sub_value) }}
{%      endfor %}
}
{%-   else -%}
{% if key %}{{ key }}{% endif %} {{ value }}
{%-   endif -%}
{%- endmacro -%}
